
.number-sticky{
   top: 0;
   position: sticky;
   top: 2vh;
   background: red;
   height: 115vh;
   width: 100%;
   bottom: 2vh;
}
section.section-1 {background: red;grid-row-start: 1;top: 0;}
section {
  width: 100vw;
  grid-template-columns: 1fr;
  display: grid;
  grid-column: span 1;
}
section.section-2 {
  position: relative;
  height: 200vh;
  grid-template-rows: auto;
  display: grid;
  box-sizing: border-box;
  z-index: 3;
  padding: 1vh 4vw 4vh 4vw;
  grid-template-columns: 1fr;
  background: white;
}

