html {
  scroll-behavior: smooth;
  font-size: 16px;
}
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
q:after,
q:before {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
#yui3-css-stamp.cssreset {
  display: none;
}
@font-face {
  font-family: recife-italic;
  src: url(fonts/RecifeDisplayTrial-LightItalic.otf);
}
@font-face {
  font-family: suisse-light;
  src: url(fonts/SuisseIntl-Light.ttf);
}

h2.warning {
  font-size: 1.5rem;
  margin-left: 3vw;
  top: 10vh;
  background: black;
  color: whitesmoke;
  width: 70vw;
  position: relative;
}
* {
  font-style: normal;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: neue-haas-grotesk-display, sans-serif;
  box-sizing: border-box;
  font-size: 16px;

  word-break: break-word;
}
body {
  height: 100%;
  width: 100vw;
}
body.index_body.depression {
  background: black;
}

@media (max-width: 3000px) and (min-width: 1366px) {
  body:before {
    content: "";
    cursor: none;
    position: absolute;
    z-index: 6;
    top: var(--y);
    left: var(--x);
    right: 0;
    bottom: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    mix-blend-mode: difference;
  }
  video.Logo-Video {
    visibility: visible;
  }
  img.Logo-Video-gif {
    visibility: hidden;
  }
}
@media (max-width:1365px) and (min-width: 0px) {
  video.Logo-Video {
    visibility: hidden;
  }
  img.Logo-Video-gif {
    visibility: visible;
  }
}
a {
  cursor: pointer;
  text-decoration: none;
}
body,
html { 
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
  overflow-y: scroll;
  background: white;
  overflow-x: hidden;
}

video {
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

video.video-contain {

  object-fit: contain;

}
img {
  max-width: 100%;
  max-height: auto;
}
/*Open Type Styles*/
h1 {
  font-weight: 200;
  letter-spacing: .01em;
  font-size: 3rem;
  line-height: 1.4em;
}
h2 {
  font-family: recife-italic;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 0px;
  font-weight: 200;
}
h3 {
  font-size: 0.6rem;
}
h4 {
  font-size: 1.5rem;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.cube-text h4{
  font-weight:500;
  color: black;
}

h4.pull-qoute {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.2em;
}
h4.anxiety-is {
  font-size: 3rem;
  font-weight: 400;
}
h4.depression-is {
  font-size: 2.55rem;
}

h5 {
  letter-spacing: 0.08em;
  font-weight: 100;
  font-size: 1rem;
  color: white;
  line-height: 34px;
}
h6 {
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 22px;
  letter-spacing: 0.1em;
}
p {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  line-height: 1.25em;
}
.identify-container p{font-weight:500;}

p.identify-container-item-define{font-weight:200;display: flex;flex-direction: column;}
p.width-sm {
  margin-top: 6vh;
}
.cube-text p{
  font-size: .9rem;
}

p.strike-out {
    text-decoration: line-through;
}
em.cube-text-head {
    font-weight: 500;
    font-size: .9rem;
}
span.typeface {
  font-family: recife-italic;
  font-style: italic;
  font-size: 3rem;
  line-height: 3.75rem;
}
span.intro {
  font-weight: 300;
  font-size: 6rem;
  line-height: 0rem;
}
em.intro {
  font-size: 8rem;
  line-height: 1em;
  font-style: italic;
  font-family: recife-italic;
}
span.pull-qoute-span {
  font-size: 1.25rem;
  font-family: recife-italic;
}

em.intro-anxiety {
  font-size: 16rem;
  line-height: 0.5em;
  letter-spacing: 0.02em;
}
em.intro-depression {
  font-size: 4rem;
  color: white;
  line-height: 0.69em;
}
em.intro-cbt {
  font-size: 3rem;
  line-height: 1em;
}
em.arrow-style {
  font-family: suisse-light;
}
span.largetext {
  font-weight: 300;
  font-size: 5rem;
  line-height: 85.3%;
  display: block;
  text-align: right;
  letter-spacing: 0.0015em;
}

.arrow-style{
  display: none;
}
.arrow-style.down-arrow{
  display: block;
}
em.arrow-style.cube-arrow {
    display: block;
    line-height: inherit;
}

.cube__face em.arrow-style.cube-arrow {
    line-height: 3em;
    text-align: center;
}
.cube-text li.cube-text-survey-responses {
    list-style: disc;
    line-height: 1em;
    font-weight: 200;
    margin-bottom: 1vh;
    margin-top: 0vh;
}
@media (max-width: 767px) and (min-width: 376px) {
  p {
    font-size: 21px;
  }
  span.intro {
    font-size: 7rem;
  }
  em.intro {
    font-size: 9rem;
    font-style: italic;
    font-family: recife-italic;
  }
  span.typeface {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
  h3,
  h6 {
    font-size: 0.75rem;
  }
  h1 {
    font-size: 4.5rem;
    line-height: 0.95em;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
  }
  h4.anxiety-is {
    font-size: 4rem;
  }
  h4.depression-is {
    font-size: 2rem;
  }
  h4.pull-qoute {
    font-size: 1.25rem;
    line-height: 1.4em;
    font-weight: 200;
  }
  p {
    font-family: Neue Haas Grotesk Display Pro;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: 0.06em;
    line-height: 1.5em;
  }
  span.largetext {
    font-size: 7rem;
  }
  em.intro-anxiety {
    font-size: 17rem;
  }
  em.intro-depression {
    font-size: 6rem;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  p {
    font-size: 21px;
  }

  span.intro {
    font-size: 9rem;
  }
  em.intro {
    font-size: 9rem;
    line-height: 1em;
    margin-left: 3vw;
  }
  em.intro-anxiety {
    font-size: 29rem;
  }
  em.intro-cbt {
    font-size: 5rem;
  }
  h3{
    font-size:.9rem;
  }
  h5{font-size:1.2rem;}
h1{font-size:6rem;line-height: 1.2em;}
h2{font-size:2rem;}
span.largetext{font-size: 12rem;}
}
@media (max-width: 1299px) and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    line-height: 4rem;
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1.75rem;
    line-height: 1.4em;
  }
  h4.pull-qoute {
    font-size: 1.75rem;
    line-height: 1.4em;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.05rem;
  }
  p {
    font-size: 1.16rem;
    line-height: 1.25em;
  }
  span.intro {
    font-size: 13rem;
  }
  em.intro {
    font-size: 13rem;
    margin-left: 3vw;
  }
  span.largetext {
    font-size: 12rem;
  }

  em.intro-anxiety {
    font-size: 26rem;
    line-height: 0.5em;
    letter-spacing: 0.02em;
  }
  em.intro-depression {
    font-size: 8rem;
  }

  span.pull-qoute-span {
    font-size: 1.75rem;
  }
  em.intro-cbt {
    font-size: 5rem;
  }
   em.arrow-style.cube-arrow {
    display: block;
    line-height: inherit;
}

.cube__face em.arrow-style.cube-arrow {
    line-height: 3em;
    text-align: center;
}
  .arrow-style{
  display: block;}
.arrow-style.down-arrow{

    display: none;
}
}
@media (max-width: 1999px) and (min-width: 1300px) {

  h1 {
    font-size: 8rem;
  }
  h2 {
    line-height: 4rem;
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1.75rem;
    line-height: 1.4em;
  }
  h4.pull-qoute {
    font-size: 1.75rem;
    line-height: 1.4em;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.05rem;
  }
  p {
    font-size: 1.16rem;
    line-height: 1.25em;
  }
  span.intro {
    font-size: 16rem;
  }
  em.intro {
    font-size: 17rem;
    margin-left: 3vw;
  }
  span.largetext {
    font-size: 15rem;
  }

  em.intro-anxiety {
    font-size: 30rem;
    line-height: 0.5em;
    letter-spacing: 0.02em;
  }
  em.intro-depression {
    font-size: 8rem;
  }

  span.pull-qoute-span {
    font-size: 1.75rem;
  }
  em.intro-cbt {
    font-size: 5rem;
  }
   em.arrow-style.cube-arrow {
    display: block;
    line-height: inherit;
}

.cube__face em.arrow-style.cube-arrow {
    line-height: 3em;
    text-align: center;
}
  .arrow-style{
  display: block;}
.arrow-style.down-arrow{

    display: none;
}
}
@media (max-width: 3000px) and (min-width: 2000px) {
  .arrow-style{
  display: block;}
.arrow-style.down-arrow{

    display: none;
}
  h1 {
    font-size: 11rem;
  }
  h2 {
    line-height: 5rem;
    font-size: 4.25rem;
  }
  h3 {
    font-size: 1.65rem;
  }
  h4 {
    font-size: 3.75rem;
    line-height: 1.4em;
  }
  span.typeface{
        font-size: 5rem;
        line-height: 2em;
  }
  h4.pull-qoute {
    font-size: 1.75rem;
    line-height: 1.4em;
  }
  h5 {
    font-size: 2.25rem;
  }
  h6 {
    font-size: 2.05rem;
  }
  p {
    font-size: 2.16rem;
    line-height: 1.25em;
  }
  span.intro {
    font-size: 31rem;
  }
  em.intro {
    font-size: 30rem;
  }
  span.largetext {
    font-size: 26rem;
  }

  em.intro-anxiety {
    font-size: 30rem;
    line-height: 0.5em;
    letter-spacing: 0.02em;
  }
  em.intro-depression {
    font-size: 15rem;
  }

  span.pull-qoute-span {
    font-size: 1.75rem;
  }
  em.intro-cbt {
    font-size: 8rem;
  }
  em.arrow-style.cube-arrow {
    display: block;
    line-height: inherit;
}

.cube__face em.arrow-style.cube-arrow {
    line-height: 3em;
    text-align: center;
}
}

/*close typestyles*/
/* global styles*/
section,
footer {
  width: 100vw;
  top: 0;
  position: relative;
}
.Section-Display-flex{
  display: flex;
  flex-direction: column;

}

.sticky-item-top {
  position: sticky;
  width: 100%;
  bottom: 0vh;
  z-index: 9;
  grid-row: 1;
}
.sticky-item-bottom {
  height: auto;
  position: sticky;
  width: 100%;
  padding-left: 7vw;
  top: 94vh;
  z-index: 9;
  grid-column: 1/5;
  mix-blend-mode: exclusion;
  filter: invert(1) !important;
}
.header-section-stick-bottom {
    margin-top: -5vh;
}
.depression-bottom {
  grid-column: 1/5;
}
.item-sticky {
  position: sticky;
  top: 18vh;
  mix-blend-mode: exclusion;
  filter: invert(1) !important;
  display: flex;
  background: white;
  margin-left: 8vw;
}
.sub-section {
  color: white;
  background: black;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  padding: 13vh 14vw;
  position: sticky;
}
.sm-sub-section{
    height: 50vh;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}
.display-flex-row {
  flex-direction: column;
  display: flex;
}
:root {
  // We just need to know these 3 values up front: --wrapper: 100vw;
  --gutter: 0px;
  --noOfColumns: 10;
  --noOfGutters: calc(var(--noOfColumns) - 1);
  --ratioA: 1;
  --ratioB: 1;
  // --ratio: 16/9;
  --factor: calc(var(--ratioB) / var(--ratioA));
  // Calculating the row height: --rh: calc(( (var(--wrapper) - (var(--noOfGutters) * var(--gutter))) / var(--noOfColumns)) * var(--factor));
}
.Container-Grid {
  max-width: var(--wrapper);
  grid-template-columns: repeat(var(--noOfColumns), 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: minmax(var(--rh), auto);
  grid-gap: var(--gutter);
  stroke: none;
  padding-bottom: 20vh;
  border: none;
  z-index: 1;
  background: white;
  display: grid;
}
a {
  z-index: 8;
  line-height: 1em;
  font-weight: 100;
  text-decoration: none;
  font-size: .75em;
}
a.outside-resource {
    color: black;
    line-height: 3em;
  border-bottom: 1px black solid;
}
a.tiny-link {
  border-bottom: .7px black solid;
  color: black;
  filter: invert(1);
  mix-blend-mode: exclusion;
}
section.Section.Section-1.Landing-Page.index-landing-page {
    height: 100vh;
}
.Section-1.Landing-Page {
  background: white;
  display: grid;
  grid-auto-rows: 10vh;
  grid-template-columns: repeat(4, 1fr);
}
section.Section.Section-1.depression.Landing-Page {
    height: 100vh;
}
video.anxiety-Landing-Video,
video.depression-Landing-Video,
video.cbt-Landing-Video   {
    grid-row: 1/9;
    grid-column: 1/9;
    width: 100vw;
    height: 90vh;
}
@media (max-width: 767px) and (min-width: 376px) {
  .sticky-item-bottom {
    top: 93vh;
    grid-column: 1/5;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .sticky-item-bottom {
    top: 93vh;
    grid-column: 1/5;
  }
  .sub-section {
    height: 100vh;
    padding: 16vh 6vw;
  }
  .Container-Grid {
    padding-bottom: 40vh;
  }
  .display-flex-row {
    flex-direction: column;
  }
}
@media (max-width: 1999px) and (min-width: 1024px) {
  .sub-section {
    height: 100vh;
    padding: 16vh 6vw;
  }
  .Container-Grid {
    padding-bottom: 40vh;
    width: 100vw;
    grid-template-columns: repeat(5, 20vw);
  }
  .display-flex-row {
    flex-direction: row;
  }
  .sticky-item-bottom {
    top: 91vh;
    grid-column: 1/3;
  }
  .header-section-stick-bottom {
    margin-top: -8vh;
}
  video.anxiety-Landing-Video,
video.depression-Landing-Video,
video.cbt-Landing-Video   {

    height: 100vh;
}
}
@media (max-width: 3000px) and (min-width: 2000px) {

  .sub-section {
    height: 100vh;
    padding: 16vh 6vw;
  }
  .Container-Grid {
    padding-bottom: 40vh;
    grid-auto-rows: 10vh;
    width: 100vw;
    grid-template-columns: repeat(5, 20vw);
  }
  .display-flex-row {
    flex-direction: row;
  }
  .sticky-item-bottom {
    top: 93vh;
    grid-column: 1/3;
  }
  .header-section-stick-bottom{
    margin-top: -8vh;
  }
}
/*open topnav */
header.open,
header:after {
  overflow: hidden;
}
.main-nav,
header:after {
  position: absolute;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    visibility: hidden;
  }
}

header:after {
  background: red;
  content: "";
  left: 0;
  opacity: 0;
  padding: 0;
  top: 0;
  visibility: hidden;
}
header.open:after {
  opacity: 1;
  visibility: visible;
}

.main-nav:not(.open) {
  visibility: hidden;
}

.main-nav.open {
  visibility: visible;
}
.main-nav.open div {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
.nav-menu {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: black;
  height: 7vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22vw;
}

h5 {
  color: white;
}
.menu-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
}

a.top-btn {
  color: black;
  z-index: 14;
  position: fixed;
  background: white;
  display: flex;
  mix-blend-mode: exclusion;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;
  border-radius: 200px 80px 180px 200px;
  width: 8vw;
  right: 4vw;
  height: 6vh;
  bottom: 3vh;
  text-align: center;
}
a.top-btn:hover {
  border-radius: 1060px 20px 100px 206px;
}
img.logo-svg {
  height: 6vh;
  margin: 1.15vh 1.2vw;
  position: fixed;
  top: 0;
  z-index: 14;
}
a.logo.change-navbar {
  position: fixed;
  width: 100%;
}

.change-navbar {
  z-index: 16;
  top: 0;
  mix-blend-mode: exclusion;
  filter: invert(1) !important;
}
.change-navbar {
  display: block !important;
  opacity: 1 !important;
}

.rotate-link {
  position: absolute;
  transform: rotate(-90deg);
  top: 50vh;
  mix-blend-mode: exclusion;
  z-index: 10;
  color: white;
}

a.depression-mood-link.rotate-link.invert {
  right: -23px;
}
a.anixety-mood-link.rotate-link.invert {
  left: -11px;
}
img.logo-svg {
  visibility: hidden;
}
@media (max-width: 375px) and (min-width: 0px) {
  img.logo-svg.logo-1.change-navbar {
    visibility: visible;
  }
}

@media (max-width: 767px) and (min-width: 376px) {
  a.top-btn {
    width: 9vw;
    right: 1vw;
    top: 92vh;
    height: 6vh;
  }
  .nav-menu {
    height: 6vh;
    width: 16vw;
  }
  a.depression-mood-link.rotate-link.invert {
    right: -16px;
  }
  a.anixety-mood-link.rotate-link.invert {
    left: -8px;
  }
  img.logo-svg.logo-2.change-navbar {
    visibility: visible;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  a.top-btn {
    width: 6vw;
    right: 1vw;
    top: 91vh;
    height: 7vh;
  }
  .nav-menu {
    height: 6vh;
    width: 16vw;
  }
  img.logo-svg.logo-5.change-navbar {
    visibility: visible;
  }
}
@media (max-width: 1999px) and (min-width: 1024px) {
  .burger {
    width: 8vw;
    height: 3vw;
  }
  a.top-btn {
    width: 3.5vw;
    right: 1vw;
    top: 92vh;
    height: 6.75vh;
  }
  img.logo-svg {
    height: 6vh;
    margin: 1vh 1vw;
  }
  a.depression-mood-link.rotate-link.invert {
    right: 0;
  }
  a.anixety-mood-link.rotate-link.invert {
    left: 0px;
  }
  .nav-menu {
    height: 5vh;
    width: 8vw;
  }
  img.logo-svg.logo-4.change-navbar {
    visibility: visible;
  }
}


@media (max-width: 1999px) and (min-width: 1300px) {
  .burger {
    width: 8vw;
    height: 3vw;
  }
  a.top-btn {
    width: 3.5vw;
    right: 1vw;
    top: 92vh;
    height: 6.75vh;
  }
  img.logo-svg {
    height: 6vh;
    margin: 1vh 1vw;
  }
  a.depression-mood-link.rotate-link.invert {
    right: 0;
  }
  a.anixety-mood-link.rotate-link.invert {
    left: 0px;
  }
  .nav-menu {
    height: 5vh;
    width: 8vw;
  }
  img.logo-svg.logo-4.change-navbar {
    visibility: visible;
  }
}

@media (max-width: 3000px) and (min-width: 2000px) {
  .burger {
    width: 8vw;
    height: 3vw;
  }
  a.top-btn {
    width: 4vw;
    right: 2vw;
    top: 91vh;
    height: 7vh;
  }
  img.logo-svg {
    height: 6vh;
    margin: 1vh 1vw;
  }
  a.depression-mood-link.rotate-link.invert {
    right: 0;
  }
  a.anixety-mood-link.rotate-link.invert {
    left: 0px;
  }
  .nav-menu {
    height: 5vh;
    width: 8vw;
  }
  img.logo-svg.logo-5.change-navbar {
    visibility: visible;
  }
}
/*close topnav*/

/*Nav Section 3 Landing Page Open */
.perspective-text {
  color: white;
  font-weight: 900;
  width: 100vw;
  background: black;
  align-items: center;
  height: 100vh;
  z-index: 13;
  display: flex;
  flex-direction: column;
}
.perspective-text-background {
  height: black;
  height: 100vh;
  width: 100vw;
  opacity: 1;
}

p.perspective {
  margin: 0;
  height: 5rem;
  line-height: 6rem;
  transition: all 0.5s ease-in-out;
  font-size: 5.5rem;
}

.perspective-line:hover p.perspective {
  transform: translate(0, -90px);
}
.perspective-text a {
  color: white;
  font-weight: 900;
}
a p.perspective,
a p.perspective-italic{
  margin: 0;
  width: 100%;
  height: 5.35rem;
  line-height: 5rem;
  transition: all 0.3s ease-in-out;
  font-size: 2.5rem;
} 

a p.perspective-italic {
  font-family: recife-italic;

}
.perspective-line {
  position: relative;
  z-index: 9;
  height: 5.5rem;
  width: 59%;
  overflow: hidden;
  left: 9%;
  margin-bottom: 7vh;
  top: 22%;
}
.perspective-line.nav-section {
    left: 5%;
}
.sticky-item-bottom.color-white {
  color: black;
  top: 10vh;
}
/*Nav Section 3 Landing Page Close */
/*Section 1 Landing Page Open*/

.item-1.item-1-index {
    grid-column: 1/5;
    grid-row: 9/11;
    padding: 2vh 4vw;
    display: flex;
    flex-direction: column;
}
video.Logo-Video,
img.Logo-Video-gif {
  filter: brightness(1.15);
  position: fixed;
  top: 16vh;
}
.Transparent-scroll-box {
    grid-row: 0/11;
    grid-column: 1/5;
    grid-row: 1/11;
    z-index: 3;
    background: transparent;
}
.logo-video-container {
    justify-content: center;
    grid-row: 1/12;
    display: flex;
    grid-column: 1/5;
}

@media (max-width: 767px) and (min-width: 376px) {
    section.Section.Section-1.Landing-Page {
    flex-direction: column;
}
  a p.perspective-italic,
  a p.perspective {
    font-size: 2.5rem;
  }
  .Section-1.Landing-Page {
    height: 104vh;
    justify-content: flex-end;
  }
  video.Logo-Video,
  img.Logo-Video-gif {
    top: 7vh;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
 
 
  video.Logo-Video,
  img.Logo-Video-gif {
  height: 83vh;
  top: 0;
  }
  

  a p.perspective-italic,
  a p.perspective {
    font-size: 4.5rem;
  }
  .item-1.item-1-index{
        padding: 0vh 1vw;
    align-items: center;
    flex-direction: row;
  }
}
@media (max-width: 1999px) and (min-width: 1024px) {
  
  video.Logo-Video,
  img.Logo-Video-gif {
  top: -11vh;
  }
  .item-1.item-1-index {
    grid-column: 1/5;
    grid-row: 9/12;
    padding: 0vh 1vw;
    align-items: center;
    flex-direction: row;
}
  a p.perspective-italic,
  a p.perspective {
    font-size: 5rem;
  }
}
@media (max-width: 3000px) and (min-width: 2000px) {
  
  video.Logo-Video,
  img.Logo-Video-gif {
    height: 90vh;
    top: 0vh;
  }
  a p.perspective-italic,
  a p.perspective {
    font-size: 5.5rem;
  }
}
/*Section 1 Landing Page Close */
/*Section 2 about open */
video.Letter-1-Video {
  grid-column: 5/11;
  grid-row: 3/11;
  height: 70vh;
  justify-self: end;
}
.grid-item-1 {
  grid-column: ;
}
.item.grid-item-1.item-sticky.display-flex-column {
  grid-column: 2/9;
  grid-row: 2/3;
  top: 21vh;
}
.item.grid-item-2-about.item-sticky,
.item.grid-item-2-Goals.item-sticky {
  grid-column: 1/5;
  grid-row: 1/2;
  top: 8.5vh;
  margin-bottom: 5vh;
}

.item.grid-item-1.item-sticky.display-flex-row {
  grid-column: 2/10;
  grid-row: 2/6;
  margin-left: 0;
  grid-gap: 2rem;
  grid-template-columns: repeat(1,1fr);
  display: grid;
}
.sticky-item-bottom.Qoute-item {
  grid-column: 1/11;
  top: 101vh;
  grid-row: 12/13;
  bottom: 0;
}
.spacer {
  height: 29vh;
  width: 100vw;
  grid-column: 1/11;
  grid-row: 7/10;
}
@media (max-width: 767px) and (min-width: 376px) {
  video.Letter-1-Video {
    grid-column: 7/11;
    grid-row: 5/14;
    height: 86vh;
    justify-self: auto;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  video.Letter-1-Video {
    grid-column: 6/14;
    grid-row: 12/18;
    height: 93vh;
    justify-self: auto;
  }
  .item.grid-item-2-about.item-sticky {
    top: 8.5vh;
    top: 8.5vh;
  }
}
@media (max-width: 1999px) and (min-width: 1024px) {
  video.Letter-1-Video {
    grid-column: 4/6;
    grid-row: 3/14;
    height: 114vh;
  }
  .grid-item-1 {
    grid-column: ;
  }
  .item.grid-item-1.item-sticky.display-flex-column {
    grid-column: 2/4;
    top: 25vh;
  }
  .item.grid-item-2-about.item-sticky {
    grid-column: 1/3;
    top: 26.5vh;
  }
  .item.grid-item-2-Goals.item-sticky {
    top: 13vh;
    grid-column: 1/5;
    grid-row: 1/8;
  }
  .item-sticky.Qoute-item {
    grid-column: 3/10;
  }
  .item.grid-item-1.item-sticky.display-flex-row {
    grid-column: 2/10;
    grid-row: 3/7;
    grid-template-columns: repeat(2,1fr);
    top: 14vh;
    width: 70%;
  }
  .sticky-item-bottom.Qoute-item {
    grid-column: 2/11;
    top: 0;
    grid-row: 12/20;
    bottom: 0;
  }

  .spacer {
    height: 22vh;
    grid-column: 1/11;
    grid-row: 7/10;
  }
}
@media (max-width: 3000px) and (min-width: 2000px) {
  video.Letter-1-Video {
    grid-column: 4/6;
    grid-row: 3/14;
    height: 123vh;
    justify-self: flex-end;
  }
  .grid-item-1 {
    grid-column: ;
  }
  .item.grid-item-1.item-sticky.display-flex-column {
    grid-column: 2/4;
    top: 23vh;
  }
  .item.grid-item-2-about.item-sticky {
    grid-column: 1/3;
    top: 25.5vh;
  }
  .item.grid-item-2-Goals.item-sticky {
    top: 13vh;
    grid-column: 1/5;
    grid-row: 1/8;
  }
  .item-sticky.Qoute-item {
    grid-column: 3/10;
  }
  .item.grid-item-1.item-sticky.display-flex-row {
    grid-column: 2/10;
    grid-row: 3/7;
    top: 14vh;
    width: 70%;
  }
  .sticky-item-bottom.Qoute-item {
    grid-column: 2/11;
    top: 0;
    grid-row: 15/19;
    bottom: 0;
  }

  .spacer {
    height: 22vh;
    grid-column: 1/11;
    grid-row: 7/10;
  }
}
/*Section 2 about close */
/*Section 3 Nav Open*/
li.nav-section-item {
  margin: 8vh 0vw 7vh 11vw;
}
li.nav-section-item a {
  z-index: 9;
  font-family: recife-italic;
  letter-spacing: 0.05em;
  color: white;
  font-size: 4rem;
  line-height: 6rem;
}
ul.sticky-item-top {
  z-index: 9;
}
.nav-subsection {
  height: 100vh;
}
li.nav-section-item a:hover ::before {
  z-index: 0;
}
li.nav-section-item a:hover {
  transform: skewY(90deg, 15deg);
}
.sticky-item-top {
}
@media (max-width: 767px) and (min-width: 376px) {
  li.nav-section-item {
    z-index: 9;
    margin-left: 30vw;
  }
  li.nav-section-item a {
    color: white;

    cursor: pointer;
    font-size: 4rem;
    line-height: 13rem;
  }
  li.nav-section-item {
    margin-left: 30vw;
    margin: 0vh 0vw 5vh 17vw;
  }
  li.nav-section-item a {
    font-size: 6rem;
    line-height: 9rem;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  li.nav-section-item {
    z-index: 9;
    margin-left: 30vw;
  }
  li.nav-section-item a {
    color: white;

    cursor: pointer;
    font-size: 4rem;
    line-height: 13rem;
  }
  li.nav-section-item {
    margin-left: 30vw;
    margin: 0vh 0vw 5vh 17vw;
  }
  li.nav-section-item a {
    font-size: 6rem;
    line-height: 9rem;
  }
  .item.grid-item-1.item-sticky.display-flex-row {
  
  grid-gap: 3rem;
  grid-template-columns: repeat(2,1fr);
 
}
}
@media (max-width: 1999px) and (min-width: 1024px) {
  li.nav-section-item {
    z-index: 9;
    margin-left: 30vw;
  }
  li.nav-section-item a {
    color: white;

    cursor: pointer;
    font-size: 4rem;
    line-height: 13rem;
  }
  li.nav-section-item {
    margin-left: 30vw;
    margin: 0vh 0vw 5vh 17vw;
  }
  li.nav-section-item a {
    font-size: 6rem;
    line-height: 9rem;
  }
}
@media (max-width: 3000px) and (min-width: 2000px) {
  li.nav-section-item {
    z-index: 9;
    margin-left: 30vw;
  }
  li.nav-section-item a {
    color: white;

    cursor: pointer;
    font-size: 4rem;
    line-height: 13rem;
  }
  li.nav-section-item {
    margin-left: 30vw;
    margin: 0vh 0vw 5vh 17vw;
  }
  li.nav-section-item a {
    font-size: 6rem;
    line-height: 9rem;
  }
}
/*Section 3 Nav Close*/
/*Anxiety page Section 4 Anxiety open*/


.Container-Grid.anxiety-landing-page-section,
 .Container-Grid.cbt-landing-page-section{
    grid-auto-rows: 10vh;
    grid-row: 1/11;
    grid-column: 1/5;
    grid-template-columns: repeat(8,1fr);
}
section.Section.Section-1.depression.Landing-Page {
    height: 100vh;
}



.item-1-anxiety{
   filter: invert(1);
   mix-blend-mode: exclusion;
   grid-row: 2/16;
   grid-column: 4/8;
  }
.grid-item-2-anxiety-is {
  grid-column: 1/6;
  top: 8vh;
}
.qoute-item {
  filter: invert(1);
  mix-blend-mode: exclusion;
}
.item.qoute-1.display-flex-row {
  grid-column: 2/5;
  grid-row: 4/5;
}
.item.qoute-2.display-flex-row {
  grid-column: 1/4;
  grid-row: 5/6;
  margin-left: 6vw;
}
.item.qoute-3.display-flex-row {
  grid-column: 1/4;
  margin-left: 4vw;
  grid-row: 7/8;
}
.item.qoute-4.display-flex-row {
  grid-column: 3/5;
  grid-row: 10/11;
}
.item.qoute-5.display-flex-row {
  grid-column: 2/5;
  grid-row: 12/13;
}
.item.qoute-6.display-flex-row {
  grid-column: 2/6;
  grid-row: 15/16;
}
.item.qoute-7.display-flex-row {
  grid-column: 1/5;
  grid-row: 17/19;
  margin-left: 3vw;
}
.item.qoute-8.display-flex-row {
  grid-column: 3/6;
  grid-row: 20/21;
  width: 90%;
}
video.Letter-2-Video {
  grid-column: 4/11;
  grid-row: 4/9;
  height: 56vh;
  transform: rotate(180deg);
  justify-self: auto;
}
.Container-Grid.flow-chart {
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 10vh;
}
.Container-Grid.anxiety-is-section,
.Container-Grid.depression-is-section {
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 10vh;
}

.image-Container-Grid {
  display: grid;
  max-width: var(--wrapper);
  grid-template-columns: repeat(var(--noOfColumns), 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: minmax(var(--rh), auto);
  grid-gap: var(--gutter);
}

.video-1 {
  grid-column: 1/10;
  grid-row: 1/10;
  z-index: 1;
}

.video-2 {
  grid-column: 5/11;
  grid-row: 10/16;
  z-index: 2;
}

.video-3 {
  grid-column: 6/11;
  z-index: 4;
  grid-row: 3/8;
}
.video-4 {
  grid-column: 3/11;
  grid-row: 4/13;
  z-index: 3;
}
.video-5 {
  grid-row: 1/6;
  grid-column: 6/11;
  z-index: 1;
}
.video-6 {
  grid-column: 1/4;
  grid-row: 13/16;
  z-index: 3;
}
.video-7 {
  grid-column: 5/7;
  grid-row: 1/5;
  z-index: 3;
}
.video-8 {
  z-index: 1;
  grid-column: 4/11;
  grid-row: 14/21;
}
.video-9 {
  grid-column: 1/5;
  grid-row: 10/14;
  z-index: 1;
}
.video-10 {
  grid-column: 1/5;
  z-index: 1;
  grid-row: 4/8;
}
.video-11 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.video-12 {
  grid-column: 1/6;
  grid-row: 16/20;
  z-index: 2;
}
.video-13 {
  grid-column: 6/11;
  grid-row: 6/9;
  z-index: 2;
}
.video-15-a{
      grid-column: 1/5;
      grid-row: 7/11;
      z-index: 1;

}
.video-14 {
  grid-column: 1/2;
  grid-row: 21/23;
}
.video-15 {
  grid-row: 14/18;
  grid-column: 4/8;
}
.video-16 {
  grid-column: 6/11;
  grid-row: 23/25;
}
.video-17 {
  grid-column: 2/6;
  grid-row: 2/6;
}
.video-18 {
  grid-column: 3/5;
  grid-row: 20/21;
}
.video-19 {
  grid-column: 3/7;
  grid-row: 30/31;
}

 .video-20 {
  grid-column: 1/3;
  grid-row: 35/37;
}
 .video-21 {    
  grid-column: 4/6;
  grid-row: 37/40;
}

@media (max-width: 767px) and (min-width: 376px) {
 

  p.width-sm {
    width: 100%;
    margin-left: 0;
    margin-top: 8vh;
  }
  .item.qoute-1.Goal-paragraph.display-flex-row {
    grid-column: 5/9;
  }
  .item.qoute-1.display-flex-row {
    grid-column: 1/4;
    grid-row: 3/7;
    justify-content: center;
    align-items: center;
  }

  .item.qoute-2.display-flex-row {
    grid-column: 1/5;
    grid-row: 7/10;
    justify-self: center;
    width: 75%;
  }
  .item.qoute-3.display-flex-row {
    grid-column: 1/5;
    grid-row: 13/15;
  }
  .item.qoute-4.display-flex-row {
    grid-column: 2/4;
    grid-row: 11/14;
  }
  .item.qoute-5.display-flex-row {
    grid-column: 4/6;
    grid-row: 3/5;
  }
  .item.qoute-6.display-flex-row {
    grid-column: 2/4;
    grid-row: 21/22;
    justify-content: center;
  }
  .item.qoute-7.display-flex-row {
    grid-column: 1/4;
    grid-row: 17/18;
  }
  .item.qoute-8.display-flex-row {
    grid-column: 2/5;
    grid-row: 23/24;
  }
  .sticky-item-bottom.sticky-item-bottom-anxiety {
    right: 90vw;
  }
  video.Letter-2-Video {
    grid-column: 3/6;
    grid-row: 5/12;
    height: 82vh;
    justify-self: auto;
    top: 20vh;
    position: sticky;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
 
.item-1-anxiety{
  grid-column: 3/9;
  grid-row: 3/6;
}

  
  p.width-sm {
    width: 73%;
    margin-left: 7vw;
  }
  .item.qoute-1.Goal-paragraph.display-flex-row {
    grid-column: 5/9;
  }
  .item.qoute-1.display-flex-row {
    grid-column: 2/4;
    grid-row: 7/8;
    justify-content: center;
  }

  .item.qoute-2.display-flex-row {
    grid-column: 1/3;
    grid-row: 9/10;
    justify-self: center;
    width: 75%;
  }
  .item.qoute-3.display-flex-row {
    grid-column: 3/5;
    grid-row: 13/15;
  }
  .item.qoute-4.display-flex-row {
    grid-column: 2/4;
    grid-row: 12/14;
  }
  .item.qoute-5.display-flex-row {
    grid-column: 4/5;
    grid-row: 5/7;
  }
  .item.qoute-6.display-flex-row {
    grid-column: 2/4;
    grid-row: 21/22;
    justify-content: center;
  }
  .item.qoute-7.display-flex-row {
    grid-column: 1/3;
    grid-row: 17/18;
  }
  .item.qoute-8.display-flex-row {
    grid-column: 4/5;
    grid-row: 23/24;
  }
  .sticky-item-bottom.sticky-item-bottom-anxiety {
    right: 90vw;
  }
  video.Letter-2-Video {
    grid-column: 3/6;
    grid-row: 3/12;
    height: 108vh;
    justify-self: auto;
    top: 20vh;
    position: sticky;
  }
}
@media (max-width: 1999px) and (min-width: 1024px) {
 
  
  p.width-sm {
    width: 37%;
    margin-left: 7vw;
  }
  .item.qoute-1.Goal-paragraph.display-flex-row {
    grid-column: 5/9;
  }
  .item.qoute-1.display-flex-row {
    grid-column: 1/5;
    grid-row: 4/5;
    justify-content: center;
  }

  .item.qoute-2.display-flex-row {
    grid-column: 3/5;
    grid-row: 7/10;
    justify-self: center;
    width: 75%;
  }
  .item.qoute-3.display-flex-row {
    grid-column: 1/3;
    grid-row: 11/12;
  }
  .item.qoute-4.display-flex-row {
    grid-column: 3/5;
    grid-row: 14/16;
  }
  .item.qoute-5.display-flex-row {
    grid-column: 4/5;
    grid-row: 17/19;
  }
  .item.qoute-6.display-flex-row {
    grid-column: 2/4;
    grid-row: 19/21;
    justify-content: center;
  }
  .item.qoute-7.display-flex-row {
    grid-column: 1/3;
    grid-row: 22/24;
  }
  .item.qoute-8.display-flex-row {
    grid-column: 3/5;
    grid-row: 25/26;
  }
  .sticky-item-bottom.sticky-item-bottom-anxiety {
    right: 90vw;
  }
  video.Letter-2-Video {
    grid-column: 4/6;
    grid-row: 3/12;
    height: 108vh;
    justify-self: auto;
    top: 20vh;
    position: sticky;
  }

  .video-1 {
    grid-column: 1/6;
    grid-row: 1/6;
    z-index: 1;
  }

  .video-2 {
    grid-column: 7/10;
    grid-row: 4/6;
    z-index: 2;
  }

  .video-3 {
    grid-column: 10/11;
    z-index: 4;
    grid-row: 1/2;
  }
  .video-4 {
    grid-column: 5/8;
    grid-row: 5/8;
    z-index: 3;
  }
  .video-5 {
    grid-row: 1/6;
    grid-column: 6/11;
    z-index: 1;
  }
  .video-6 {
    grid-column: 6/8;
    grid-row: 1/4;
    z-index: 3;
  }
  .video-7 {
    grid-column: 9/11;
    grid-row: 2/10;
    z-index: 1;
  }
  .video-8 {
    z-index: 3;
    grid-column: 1/4;
    grid-row: 4/7;
  }
  .video-9 {
    z-index: 2;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .video-10 {
    grid-column: 1/5;
    z-index: 1;
    grid-row: 4/8;
  }
  .video-11 {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
  }
  .video-12 {
    grid-column: 3/7;
    grid-row: 2/6;
  }
  .video-13 {
    grid-column: 8/11;
    grid-row: 5/9;
    z-index: 5;
  }
  .video-14 {
    grid-column: 1/2;
    grid-row: 14/15;
  }
  .video-15 {
    grid-row: 15/19;
    grid-column: 4/8;
  }
  .video-16 {
    grid-column: 10/11;
    grid-row: 19/20;
  }
  .video-17 {
    grid-column: 2/6;
    grid-row: 2/6;
  }
  .video-18 {
    grid-column: 1/2;
    grid-row: 20/21;
  }
  .video-19 {
    grid-column: 5/9;
    grid-row: 26/30;
  }
}
@media (max-width: 3000px) and (min-width: 2000px) {
  
  p.width-sm {
    width: 37%;
    margin-left: 7vw;
  }
  .item.qoute-1.Goal-paragraph.display-flex-row {
    grid-column: 5/9;
  }
  .item.qoute-1.display-flex-row {
    grid-column: 2/4;
    grid-row: 7/8;
    justify-content: center;
  }

  .item.qoute-2.display-flex-row {
    grid-column: 1/3;
    grid-row: 9/10;
    justify-self: center;
    width: 75%;
  }
  .item.qoute-3.display-flex-row {
    grid-column: 3/5;
    grid-row: 13/15;
  }
  .item.qoute-4.display-flex-row {
    grid-column: 2/4;
    grid-row: 12/14;
  }
  .item.qoute-5.display-flex-row {
    grid-column: 4/5;
    grid-row: 5/7;
  }
  .item.qoute-6.display-flex-row {
    grid-column: 2/4;
    grid-row: 21/22;
    justify-content: center;
  }
  .item.qoute-7.display-flex-row {
    grid-column: 1/3;
    grid-row: 17/18;
  }
  .item.qoute-8.display-flex-row {
    grid-column: 4/5;
    grid-row: 23/24;
  }
  .sticky-item-bottom.sticky-item-bottom-anxiety {
    right: 90vw;
  }
  video.Letter-2-Video {
    grid-column: 4/6;
    grid-row: 3/12;
    height: 108vh;
    justify-self: auto;
    top: 20vh;
    position: sticky;
  }

  .video-1 {
    grid-column: 1/6;
    grid-row: 1/6;
    z-index: 1;
  }

  .video-2 {
    grid-column: 8/11;
    grid-row: 5/8;
    z-index: 2;
  }

  .video-3 {
    grid-column: 8/11;
    z-index: 3;
    grid-row: 3/6;
  }
  .video-4 {
    grid-column: 5/8;
    grid-row: 5/8;
    z-index: 3;
  }
  .video-5 {
    grid-row: 1/6;
    grid-column: 6/11;
    z-index: 1;
  }
  .video-6 {
    grid-column: 3/4;
    grid-row: 3/4;
    z-index: 2;
  }
  .video-7 {
    grid-column: 5/7;
    grid-row: 1/5;
    z-index: 3;
  }
  .video-8 {
    z-index: 3;
    grid-column: 1/4;
    grid-row: 4/7;
  }
  .video-9 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .video-10 {
    grid-column: 1/5;
    z-index: 1;
    grid-row: 4/8;
  }
  .video-11 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .video-12 {
    grid-column: 3/7;
    grid-row: 2/6;
  }
  .video-13 {
    grid-column: 8/11;
    grid-row: 6/9;
    z-index: 2;
  }
  .video-14 {
    grid-column: 1/2;
    grid-row: 14/15;
  }
  .video-15 {
    grid-row: 15/19;
    grid-column: 4/8;
  }
  .video-16 {
    grid-column: 10/11;
    grid-row: 19/20;
  }
  .video-17 {
    grid-column: 2/6;
    grid-row: 2/6;
  }
  .video-18 {
    grid-column: 1/2;
    grid-row: 20/21;
  }
  .video-19 {
    grid-column: 5/9;
    grid-row: 26/30;
  }
}

/*Anxiety page Section 4 Anxiety open*/

/*depression page Section 5 depression open*/

video.Letter-3-Video {
  grid-column: 1/9;
  grid-row: 7/12;
  height: 70vh;
  justify-self: auto;
  filter: invert(1);
}
.Container-Grid.black-background.depression-is-section {
  background: black;
  color: white;
}
em.intro-depression {
  animation-name: blur;
  animation: blur s ease;
  -webkit-animation: blur 5s ease;
  animation-timing-function: ease;
  -webkit-animation: blur 5s ease;
  animation-direction: normals;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}

@keyframes blur {
  0% {
    text-shadow: 0 0 0px white;
    color: white;
  }

  50% {
    color: transparent;
    text-shadow: 0 0 5px white;
  }

  75% {
    text-shadow: 0 0 10px white;
    color: transparent;
  }

  100% {
    text-shadow: 0 0 15px white;
    color: transparent;
  }
}


.depression-Landing-Video {height: 85vh;height: 90vh;}

.item-1-depression {
  z-index: 2;
  align-self: center;
  position: fixed;
  top: 65vh;
  left: 7vw;
}
.item-1-depression-define {
  grid-column: 2/6;
  grid-row: 7/10;
  color: darkgray;
  z-index: 9;
}
.sticky-item-depression.sticky-item-bottom-anxiety {
  right: 90vw;
}

.item.grid-item-2-depression-is.item-sticky {
  grid-column: 1/5;
  color: black;
}
.grid-item-2-depression-is {
  grid-column: 1/6;
  top: 8vh;
}
.item.qoute-1.depression-qoute {
  grid-column: 2/5;
  grid-row: 3/4;
}
.item.qoute-2.depression-qoute {
  grid-column: 3/6;
  grid-row: 9/11;
}
.item.qoute-3.depression-qoute {
  grid-column: 1/4;
  margin-left: 6vw;
  grid-row: 15/17;
}
.item.qoute-4.depression-qoute {
  grid-column: 4/6;
  grid-row: 19/21;
}
.item.qoute-5.depression-qoute {
  grid-column: 2/6;
  grid-row: 21/22;
}
.item.qoute-6.depression-qoute {
  grid-row: 25/26;
  grid-column: 1/5;
  margin-left: 3vw;
}

.item.qoute-7.depression-qoute {
  grid-row: 31/31;
  grid-column: 3/6;
}
.item.qoute-8.depression-qoute {
  grid-column: 1/6;
}
.Image-Container-Grid.depression-experience {
  z-index: 2;
  grid-auto-rows: 10vh;
  BACKGROUND: BLACK;
}
.sub-section.white-background.thoughts-depression-subsection {
  background: white;
  color: black;
}
@media (max-width: 767px) and (min-width: 376px) {
  .item-1-depression-define {
    grid-column: 2/6;
    grid-row: 6/8;
  }
  .item.grid-item-2-depression-is.item-sticky {
    grid-column: 1/5;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .item-1-depression-define {
    grid-column: 2/6;
    grid-row: 6/8;
  }
  .item.grid-item-2-depression-is.item-sticky {
    grid-column: 1/5;
  }
}
@media (max-width: 1999px) and (min-width: 1024px) {
  .item-1-depression-define {
    grid-column: 2/6;
    grid-row: 6/8;
  }
  .item.grid-item-2-depression-is.item-sticky {
    grid-column: 1/5;
  }

}
@media (max-width: 3000px) and (min-width: 2000px) {
  .item-1-depression-define {
    grid-column: 2/6;
    grid-row: 6/8;
  }
  .item.grid-item-2-depression-is.item-sticky {
    grid-column: 1/5;
  }

 

 

}

/*anxiety page section 5 despression close*/

/*ar section*/
section.Section.Section-4-cube.container {
    top: 0;
    z-index: 6;
    background: linear-gradient(0deg, white 50%, black 50%);
}
label {
  margin-right: 15px;
  line-height: 32px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 56px;
  grid-row: 1/2;
  height: 33px;
  border: none;
  grid-column: 1/3;
  transition: 0.2s all linear;
}


button,
legend {

  background-color: transparent;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

button:hover,
button:focus {
  color: #999;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}
div#button-item feelings-button-item {
    height: 100vh;
}

button {
    grid-column: 1/3;
    grid-row: 1/2;
}

span.cube-checkbox-word {
    grid-column: 1/3;
    grid-row: 1/2;
    color: black;
}
.cube-text li { 
    text-decoration: none;
    list-style: none;
    margin-top: 0vh;
    margin-bottom: 1vh;
}
.cube-text li.border,
.border{
    padding: 3.25vh 4vw;
    border: .5px black solid;
    border-radius: 50%;
    margin-bottom: 0vh;
    color: black;
    filter: invert(1);
    mix-blend-mode: exclusion;
}
.cube {
  width: 400px;
  position: sticky;
  height: 400px;
  top: -20vh;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}
.cube-text {
    width: 100%;
    POSITION: ABSOLUTE;
    color: black;
    max-height: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 4vh 2vw;
    overflow: scroll;
    TOP: 62VH;
    background: white;
}
.cube.show-front {
  transform: translateZ(-200px) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(-200px) rotateY(-90deg);
}
.cube.show-back {
  transform: translateZ(-200px) rotateY(-180deg);
}
.cube.show-left {
  transform: translateZ(-200px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-200px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-200px) rotateX(90deg);
}


.cube__face {
  position: absolute;
  width: 400px;
  height: 400px;
  line-height: 200px;
  top: 20vh;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
  text-align: left;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(200px);
  background: blue;
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(200px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(200px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(200px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(200px);
}
.cube__face--bottom {
  transform: rotateX(90deg) translateZ(200px);
}

.cube-text.depression-cube-text,
.cube-text.anxiety-cube-text  {
  background: red;
  transform: rotateX(0deg) translateZ(0px);

}
.cube-text.depression-cube-text,
.cube-text.anxiety-cube-text  {

  top: 10vh;
}

label {
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.cube-section {
  height: 100vh;
}
.cube-section {
  height: 100vh;
  width: 100%;
  justify-content:;
  z-index: 99;
  display: flex;
  margin-bottom: 50vh;
  top: 9vh;
  position: sticky;
  align-items: flex-start;
  FLEX-DIRECTION: column;
}
p.radio-group {
   height: 32vh;
  flex-direction: column;
  background: white;
  position: sticky;
  z-index: 2;
  top: 38vh;
  text-align: left;
}
}
footer p {
  color: red;
}
@media (max-width: 767px) and (min-width: 376px) {
}
@media (max-width: 1023px) and (min-width: 768px) {
}
@media (max-width: 1999px) and (min-width: 1024px) {
  section.Section.Section-4-cube.container {
    top: 0;
    z-index: 6;
    position: sticky;
    background: linear-gradient(90deg, white 50%, black 50%);
}
label {
  margin-right: 15px;
  line-height: 32px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 7vw;
  align-self: center;
  height: .1vh;
  border: none;
  transition: 0.2s all linear;
}


button,
legend {

  background-color: transparent;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

button:hover,
button:focus {
  color: #999;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}
div#button-item feelings-button-item {
    height: 100vh;
}

button {
    grid-column: 1/3;
    grid-row: 1/2;
}

span.cube-checkbox-word {
    z-index: 9;
    color: black;
    line-height: 0;
    transition: ease-in .2s;
}

.cube {
  width: 400px;
  height: 400px;
  top: -10vh;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}
.cube-text {
    width: 37vw;
    POSITION: ABSOLUTE;
    color: black;
    left: -59vw;
    TOP: -17VH;
    height: 79vh;
}
.cube.show-front {
  transform: translateZ(-200px) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(-200px) rotateY(-90deg);
}
.cube.show-back {
  transform: translateZ(-200px) rotateY(-180deg);
}
.cube.show-left {
  transform: translateZ(-200px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-200px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-200px) rotateX(90deg);
}


.cube__face {
  position: absolute;
  width: 400px;
  height: 400px;
  line-height: 200px;
  top: 20vh;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
  text-align: left;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(200px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(200px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(200px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(200px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(200px);
}
.cube__face--bottom {
  transform: rotateX(90deg) translateZ(200px);
}

.cube-text.depression-cube-text,
.cube-text.anxiety-cube-text  {
  background: white;
  transform: rotateX(0deg) translateZ(0px);
}
.cube-text.depression-cube-text,
.cube-text.anxiety-cube-text  {top: 4vh;}

label {
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.cube-section {
  height: 100vh;
}
.cube-section {
  width: 100%;
  justify-content: space-around;
  z-index: 9;
  display: flex;
  height: 100vh;
  margin-bottom: 0;
  top: 9vh;
  FLEX-DIRECTION: row-reverse;
}
p.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0vh;
  height: 4vh;
}
footer p {
  color: red;
}
}
@media (max-width: 3000px) and (min-width: 2000px) {
}

/*CBT Section Open*/
.item-1-CBT {
  grid-row: 3/4;
  grid-column: 1/8;
  width: 80%;
  mix-blend-mode: exclusion;
  z-index: 2;
  filter: invert(1);
}
.item-1-CBT,
.item.item-1-cbt-define {
  padding: 1vh 8vw;
}



.item.item-1-cbt-define {
  grid-row: 5/7;
  z-index: 2;
  width: 80%;
  justify-self: center;
  grid-column: 1/4;
}
.circle-flow {
  position: relative;
  grid-row: 3/7;
  grid-column: 2/8;
}
.cbt-head {
  grid-column: 4/6;
  grid-row: 4/6;
  font-size: 0.95rem;
  line-height: 1.15em;
  align-self: center;
}
.behavior-head,
.feelings-head,
.thoughts-head {
  font-size: 0.85rem;
  z-index: 2;
  background: white;
  height: 3vh;
  justify-self: center;
}


.thoughts-head {
  grid-column: 1/3;
  grid-row: 5/6;
}
.feelings-head {
  grid-column: 4/6;
  grid-row: 3/4;
  margin-top: -1vh;
}
.behavior-head {
  grid-column: 7/9;
  grid-row: 5/6;
}
.thoughts-head.full-thoughts {
  grid-column: 2/8;
  grid-row: 9/13;
}

.container.cbt-changes-container {
  grid-row: 15/17;
  grid-column: 3/7;
  grid-auto-rows: 21vh;
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.behaviors-head.full-behaviors,
.feelings-head.full-feelings,
.thoughts-head.full-thoughts {
  background: white;
  z-index: 2;
  height: 10vh;
}
.feelings-head.full-feelings {
  grid-row: 11/13;
  grid-column: 2/9;
}

.behaviors-head.full-behaviors {
  grid-row: 13/15;
  grid-column: 2/8;
}
.identify-container,
.challenge-container,
.replace-container{
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
}
.cbt-changes-item{
 
  width:50%;
}

@media (max-width: 767px) and (min-width: 376px) {
}
@media (max-width: 1023px) and (min-width: 768px) {
}
@media (max-width: 1999px) and (min-width: 1024px) {
  .item-1-CBT{grid-column:2/6;}
   .identify-container,
   .challenge-container,
   .replace-container
   {
   grid-row:1/2;
   text-align: left;
   }
   
  .identify-container{
grid-column:1/2;

  }
.challenge-container{
grid-column:2/3;
}
.replace-container{
grid-column:3/4;

}
.result-container{
  grid-row:2/3;
  grid-column:2/3;
}
.cbt-changes-item{
  grid-row: 2/3;
  grid-column: 2/3;
  width: 35%;
  height: 2vh;
  align-self: end;
}
 
  .circle-flow {
    position: relative;
    grid-row: 2/13;
    grid-column: 5/13;
  }
  .item.item-1-cbt-define {
    grid-row: 6/10;
    z-index: 2;
    grid-column: 6/9;
  }
  .behavior-head,
  .feelings-head,
  .thoughts-head {
    display: none;
  }
  .Container-Grid.flow-chart {
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: 10vh;
    padding-bottom: 10vh;
  }
  .cbt-head {
    grid-column:;
    grid-column: 8/10;
    grid-row: 6/7;
    font-size: 2.5rem;
  }

  .container.cbt-changes-container {
    grid-row: 15/17;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 15vh;
    grid-column: 3/13;
    grid-gap: 12vh 6vw;
  }
  .thoughts-head.full-thoughts {
    display: block;
    grid-row: 6/8;
    grid-column: 4/7;
  }
  .feelings-head.full-feelings {
    display: block;
    grid-row: 2/13;
    width: 80%;
    grid-column: 7/11;
  }

  .behaviors-head.full-behaviors {
    display: block;
    grid-row: 6/8;
    background: white;
    grid-column: 12/14;
  }

}
@media (max-width: 3000px) and (min-width: 2000px) {
  
  .circle-flow {
    position: relative;
    grid-row: 2/20;
    grid-column: 5/13;
  }
  .item.item-1-cbt-define {
    grid-row: 6/10;
    z-index: 2;
    grid-column: 6/9;
  }
  .behavior-head,
  .feelings-head,
  .thoughts-head {
    display: none;
  }
  .Container-Grid.flow-chart {
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: 10vh;
  }
  .cbt-head {
    grid-column: ;
    grid-column: 8/11;
    grid-row: 5/8;
    font-size: 2.5rem;
  }

  .container.cbt-changes-container {
    grid-row: 15/17;
    grid-column: 3/13;
    flex-direction: row;
    justify-content: space-around;
  }
  .thoughts-head.full-thoughts {
    display: block;
    grid-row: 6/8;
    grid-column: 4/7;
  }
  .feelings-head.full-feelings {
    display: block;
    grid-row: 2/13;
    width: 80%;
    grid-column: 7/11;
  }

  .behaviors-head.full-behaviors {
    display: block;
    grid-row: 6/8;
    background: white;
    grid-column: 12/14;
  }

}
/* open footer*/
.footer-content {
  color: white;
  font-weight: 900;
  align-items: end;
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 9;
  display: flex;
  justify-content: space-evenly;
  padding: 5vh 9vw;
  flex-direction: column;
}
footer.Footer-white .footer-content {
  background: white;
  color: black;
}
footer a,
footer p {
  color: white;
  font-size: 1rem;
}

footer.Footer-white a,
footer.Footer-white p {
  color: black;
}
footer h2 {
  font-size: 1rem;
  line-height: 2rem;
}
footer a {
  line-height: 1.25em;
}
.footer-info {
  grid-column: 1/4;
  grid-row: 1/6;
}
.footer-rescources {
  grid-column: 1/4;
  grid-row: 6/9;
}
.footer-contect {
  grid-column: 1/3;
  grid-row: 9/11;
}

@media (max-width: 767px) and (min-width: 376px) {
  footer a {
    font-size: 0.85rem;
    line-height: 2em;
  }
  footer a,
  footer p {
    color: white;
    font-size: 0.75rem;
  }

  .footer-info {
    grid-column: 1/4;
    grid-row: 1/4;
  }

  .footer-rescources {
    grid-column: 1/4;
    grid-row: 5/7;
  }

  .footer-contect {
    grid-column: 1/2;
    grid-row: 8/10;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .footer-content {display: grid;align-items: baseline;height: auto;grid-auto-rows: 10vh;grid-template-columns:repeat(6,1fr);}
  .item-1-CBT {
 width: 96%;
 }
  footer a {
    font-size: 0.85rem;
    line-height: 2em;
  }
  footer a,
  footer p {
    color: white;
    font-size: 0.75rem;
  }

  .footer-info {
    grid-column: 1/5;
    grid-row: 1/4;
  }

  .footer-rescources {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .footer-contect {
    grid-column: 5/9;
    grid-row: 3/4;
  }
}
@media (max-width: 1999px) and (min-width: 1024px) {
  footer a {
    font-size: 0.85rem;
    line-height: 2em;
  }
  footer a,
  footer p {
    color: white;
    font-size: 0.9rem;
  }
  .footer-content {
    color: white;
    font-weight: 900;
    align-items: center;
    width: 100vw;
    height: auto;
    background: black;
    z-index: 9;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 10vh;
    padding: 5vh 9vw;
  }

  .footer-info {
    grid-column: 1/4;
    grid-row: 1/4;
  }

  .footer-rescources {
    grid-column: 5/8;
    grid-row: 1/4;
  }

  .footer-contect {
    grid-column: 7/9;
    grid-row: 1/3;
    justify-self: flex-end;
  }
}
@media (max-width: 3000px) and (min-width: 2000px) {
  footer a {
    font-size: 0.85rem;
    line-height: 2em;
  }
  footer h2 {
  font-size: 2rem;
}

  footer a,
  footer p {
    color: white;
    font-size: 1.5rem;
  }
  .footer-content {
    grid-template-columns: repeat(8, 1fr);
    color: white;
  font-weight: 900;
  align-items: center;
  width: 100vw;
  background: black;
  z-index: 9;
  display: grid;
  grid-auto-rows: 10vh;
  padding: 5vh 9vw;
  }

  .footer-info {
    grid-column: 1/4;
    grid-row: 1/3;
  }

  .footer-rescources {
    grid-column: 5/8;
    grid-row: 1/3;
  }

  .footer-contect {
    grid-column: 7/9;
    grid-row: 1/3;
    justify-self: flex-end;
  }
}

/*Close footer*/
@media (max-width: 767px) and (min-width: 376px) {
}
@media (max-width: 1023px) and (min-width: 768px) {
}
@media (max-width: 1999px) and (min-width: 1024px) {
}
@media (max-width: 3000px) and (min-width: 2000px) {
}

.carousel.flickity-enabled.is-draggable {
  width: 100vw;
  z-index: 7;
  height: 100vh;
}