html{scroll-behavior:smooth;font-size:16px}blockquote,body,code,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}ol,ul{margin:0;padding:0;list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:after,q:before{content:""}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

* {
  font-family: neue-haas-grotesk-display, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  word-break: break-word;
}
@font-face{
   font-family:recife-italic;
  src: url(fonts/RecifeDisplayTrial-LightItalic.otf);
}

@font-face {
  font-family: Suisse Int Med;
  src: url(fonts/SuisseIntl-Medium.otf);
}
@font-face {
  src: url(fonts/SuisseIntl-Light.ttf);
  font-family: Suisse Int;
} 

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
::-moz-selection { /* Code for Firefox */
  background-color: black;
  color:white;
}

::selection {
  background-color: black;
  opacity: 1;
  color:white;

}
.index{display: flex;width: 100vw;flex-direction: column;}




video {
  max-width: 100%;
  max-height: auto;
}


img {
  max-width: 100%;
  max-height: auto;
}
span.pull-qoute{font-size: 12rem;grid-column: 1/5;grid-row: 4;line-height: .8em;width: 100%;font-family: suisse int;}
span.mood{

    
       font-family:recife-italic;
}
span.sub-section{

  font-size: 12rem;
}
span{
       font-size: 12rem;
       font-style: italic;
       font-family:recife-italic;
}
p{  font-family: Suisse Int;
  letter-spacing: 0.03em;font-size: 2.64rem;}
h2 {
       font-style: italic;
     font-family:recife-italic;
     letter-spacing: 0.03em;
     font-size: 7rem;

}

h1 {
  letter-spacing: 0.001em;
  line-height: 0.9em;
  word-break: break-all;
  line-height: .8;
  font-size: 18.3rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1em;
  letter-spacing: 0.04em;

}

h5 {
    letter-spacing: 0.001em;
    line-height: 0.9em;
    word-break: break-all;
    line-height: 1.2;
    font-size: 7.3rem;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {

span.mood{
         font-size: 12rem;
      
}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
   
h1{
  font-size: 14.3rem;
  margin-left: 3vw;
}
span{
  line-height: 1.35em;
  
}
span.sub-section{
  font-size: 14.3rem;


}
p{font-size: 1.81rem;}
}

@media only screen 
and (min-width : 1801px) {
h1{

  font-size: 17.3rem;
}
span{

  font-size: 18.3rem;
}

p{font-size: 1.21rem;}
}
#top a {
  text-transform: uppercase;
}
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
li.dropdown a{
color: black;
}
.btn h3 {
  font-size: 0.65rem;
  text-align: center;
  line-height: 1.15em;
  text-transform: uppercase;
  line-height: 1.15em;
}


.number-sticky{
   position: sticky;
   top: 9vh;
   width: 100%;
   bottom: 0vh;
   z-index: 9;
   grid-row: 1;

  
}
.invert{
   mix-blend-mode: exclusion;
  filter: invert(1) !important;

}
.item-sticky{
  position: sticky;
  top: 25vh;
 
  width:80vw;
  background: white;
  margin-left: 8vw;
  }


/*Open Topnav*/


.index_body .change-navbar {
    position: fixed;
    z-index: 999;
    height: 7vh;
    width: 100%;
    opacity: 0;
    top: 0;
    transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}


    .nav-links{
        text-align: left;
        padding-top: 10vw;
        right: 0;
        display: block;
        transform: translateX(100%);
        transition: all ease-in-out .1s;
        text-align: center;
   
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
     
        justify-content: flex-start;
        align-items: left;
        transform: translate(100%);
        justify-content: baseline;
        }



.dropdown:hover .nav-links-drop {
  display: none;
}
.header-container {
    width: 100vw;
    height: 7vh;
}
.burger,
a.logo h2{ 
margin: 1vh 2vw 1vh 1vw;
}


.change-navbar{
    mix-blend-mode: exclusion ;
    filter: invert(1) !important;
}
 
.change-navbar:not(.nav-active) {
    display: block !important;
    opacity: 1 !important;
    background: black;
}
 .logo-image{
   height: 5vh;
   margin: 2vh 3vw;
   display: none;
 }

  .burger {
    right: 0;
    position: fixed;
    top: 0;
  }
  .burger h3{

  mix-blend-mode: exclusion ;
    filter: invert(1) !important;
}
  .nav-active {
    padding-top: 2vh;
    height: 100vh;
    text-align: left;
    width: 100vw;
    transform: translateX(0%);
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 86px;
    height: 3px;
    background-color: gray;
    margin: 12.5px;
    transition: all ease 0.3s;
  }

a.top-btn {
    color: white;
    position: fixed;
    top: 90vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3vw;
    height: 8vh;
    transition: all ease-in-out .3s;
    border-radius: 200px 80px 180px 200px;
    width: 4vw;
}
a.top-btn:hover{
 border-radius: 1060px 20px 100px 206px;  
}
.nav-bar-background{
  height: 100vh;
  width: 100vw;
}



/*Section One Open*/

.Section-1-Landing{
  background: white;
  top: 0;
  padding-bottom: 8vh;
  align-items: flex-end;
  position: relative;
  display: flex;
  }

video.Logo-Video {
    height: 121vh;
    position: fixed;
    top: -9vh;
       transition: all ease-in-out 3s;
    filter: brightness(1.15);
}
video.Logo-Video:hover{
  z-index: 2;
  
}
.letter-video{
   top: 0;
   position: sticky;
   top: 30vh;
   height: 100vh;
   display: flex;
   padding-bottom: 20vh;
   width: 100%;
   bottom: 0vh;
}
.Container-Grid {
        display: grid;
        grid-template-rows: repeat(5,20%);
        z-index: 1;
        background: white;
        grid-template-columns: repeat(4, 25%);
        }
        .item-sticky{
  position: sticky;
  top: 33vh;
      mix-blend-mode: exclusion ;
    filter: invert(1) !important;

  background: white;
  margin-left: 8vw;
  }
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  
}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
  video.Logo-Video {
       top: 1vh;
       filter: brightness(1.15);
       height: 98vh;
       transform: translate(34%, -2%);
}
.Section-1-Landing{
}
.Container-Grid {grid-template-rows: repeat(5,20%);grid-template-columns: repeat(5, 20%);}
.item-sticky{width: 30vw;}
.item-2-about{grid-column:1/2;}
.item.item-1.item-sticky.display-flex {
    width: 43vw;
}
}

@media only screen 
and (min-width : 1801px) 
 {
     video.Logo-Video {
           top: 1vh;

    transform: translate(50%, -2%);
           height: 99vh;
}
.Section-1-Landing{
  height: 112vh;
}
.item.item-1.item-sticky.display-flex {
    width: 43vw;
}

}
/*Section One Close*/
/*Section Two Open*/

.Section-2-About {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  z-index: 4;
}
.display-flex{
  display:flex;
  flex-direction: row;
  margin-right:2vw;
}
.about-info-section.Container-Grid{
}
.item-2{
grid-column: 1/5;
  padding: 2vh 1vw 1vh 1vh;
  width: 90vw;
 }
.flex-column{
display: flex;
flex-direction: column;

}
.flex-column a{
color: white;
}
.item-2-about {

}

video.Letter-1-Video{grid-column: 3/5;grid-row: 2;justify-self: auto;}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
  .Section-2-About {}
  .about-info-section.Container-Grid{height: 140vh;padding: 4vh 0vw 5vh 3vw;}
  
}

@media only screen 
and (min-width : 1801px) 
 {


}
/*Section Two Close*/
/*Section Learn Open*/


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 

.item-2{grid-column: 1/4;}


  video.Letter-1-Video{
      grid-column: 6/7;
      grid-row: 1;
  }
  .item.item-1.item-sticky {
    grid-column: 2/4;
}
}

@media only screen 
and (min-width : 1801px) 
 {
  video.Letter-1-Video{
      grid-column: 5/7;
      grid-row: 1;
  }
  .item.item-1.item-sticky {
    grid-column: 2/8;
}
.item-2-about {
  
}

}


/*Section Learn Close*/

/*Section Three Open*/
.Section-3-Learn {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  background: white;
  z-index: 4;
}
.flex-column{
  display: flex;
  flex-direction: column;
  color: white;
}


.number-sticky.sticky-anxiety {
    margin-bottom: 20vh;
    top: 15vh;
    mix-blend-mode: exclusion;
    filter: invert(1) !important;
}
.number-sticky.sticky-depression{
    top: 20vh;
    mix-blend-mode: exclusion;
    filter: invert(1) !important;
}
.number-sticky.sticky- {
    height: 23vh;
    margin-bottom: 20vh;
    top: 15vh;
    mix-blend-mode: exclusion;
    filter: invert(1) !important;
}

.item.anxiety-subsection {
  z-index: 1;
  background: white;
  }
  .item.depression-subsection {
  z-index: 1;
  background: white;
  }

.number-sticky-container-3{
  mix-blend-mode: exclusion;
  filter: invert(1) !important;}
.learn-subsection {
    height: 100vh;
    background: black;
    color: white;
    z-index: 1;
    top: 0;
    padding-top: 17vh;
    width: 100vw;
    position: sticky;
}

video.item-4 {grid-column: 1/2;object-fit: contain;grid-row: 2;}

.number-sticky.sticky-anxiety.text-align-right {
    z-index: 2;
    top: 20vh;
}
.item-3{
  grid-column: 2/4;
  z-index: 2;
}
.item-6.item.item-sticky {
    grid-column: 2/6;
    top: 50vh;
}
.item-5 {
    grid-column: 6/10;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
     .number-sticky.sticky-anxiety{
     top:20vh;
   }
   .item-3{
     top: 50vh;
     grid-column: 3/7;
     }

.Section-3-Learn {
  }
}

@media only screen 
and (min-width : 1801px) 
 {
   .number-sticky.sticky-anxiety{
     top:20vh;
   }


   .item-3{
     grid-column: 6/10;}
      .Section-3-Learn {

  height: 400vh;
  
}


}
/*Section Three close*/

/*Section Three Open*/
section.Section-4-Experience.container {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  flex-direction: column;
  display: flex;
  z-index: 4;
  }



.image-Container-Grid.depression-experience {
  height:250vh;
    background: black;
}
  
          .Image-Container-Grid {
        display: grid;
        height: 100vh;
        grid-template-rows: repeat(10,10%);
        z-index: 1;
        background: white;
        grid-template-columns: repeat(6, 1fr);
        }
      .front-video{
        z-index:1;
      }
.video-1 {
    grid-column: 1/4;
grid-row: 1;  }
.video-2 {
    grid-column: 3/7;
    grid-row-start: 3;
}
.video-3 {
    grid-column: 2/7;
    grid-row-start: 5;
}
.video-4 {
    grid-column: 1/4;
}
.video-7 {
    grid-column: 1/5;
}

.video-8 {
    grid-column: 1/4;
}
.video-10 {
    grid-column: 3/4;
}
.video-11 {
    grid-column: 2/5;
    grid-row: 10;
}
.video-12 {
    grid-column: 2/7;
}
.video-13{
    grid-column: 1/3;
}
.video-14 {
    grid-column: 2/3;
}
.video-15 {
    grid-column: 1/2;
}
.video-16 {
    grid-column: 4/7;
    grid-row: 1;
}
.video-17 {
    grid-column: 1/4;
    grid-row: 1;
}

.video-19 { grid-column: 1/3;
       grid-row: 6;
  
}
.video-20 {
     grid-column: 4/7;
       grid-row: 8;
}
.video-21 {
  
    grid-column: 1/7;
     grid-row: 3;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
 .video-1{grid-column: 1/10;grid-row: 1;}

.video-2 {
    grid-column: 3/5;
    grid-row-start: 3;
}
.video-3 {
    grid-column: 2/5;
    grid-row-start: 5;
}
.video-4 {
    grid-column: 1/4;
}
.video-8 {
    grid-column: 1/4;
}
.video-11 {
    grid-column: 1/2;
}
.video-12 {
    grid-column: 1/2;
}
.video-13{
    grid-column: 1/2;
}
.video-14 {
    grid-column: 1/2;
}
.video-15 {
    grid-column: 1/2;
}
.video-16 {
    grid-column: 1/2;
}
.video-17 {
    grid-column: 1/2;
}
.video-18 {
    grid-column: 1/2;
}
.video-19 {
    grid-column: 1/2;
}
.video-20 {
    grid-column: 1/2;
}
.video-21 {
    grid-column: 1/2;
}

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 

    .image-Container-Grid{grid-template-columns: repeat(13, 1fr);}
  .video-1{grid-column: 1/10;grid-row: 1;}

.video-2 {
    grid-column: 8/14;
    grid-row-start: 6;
}
.video-3 {
    grid-column: 7/12;
    grid-row-start: 11;
}
.video-4 {
    grid-column: 1/4;
}
.video-7 {
    grid-column: 3/8;
    grid-row: 8;
    z-index: 2;
}
.video-10 {
    grid-column: 5/12;
    grid-row: 3;
    z-index: 1;
}
.video-8 {
    grid-column: 1/6;
    grid-row: 11;
}
.video-11 {
    grid-column: 1/2;
}
.video-12 {
    grid-column: 9/10;
    grid-row: 1;
}
.video-13{
    grid-column: 6/8;
}
.video-14 {
    grid-column: 12/14;
    grid-row: 4;
}
.video-15 {
    grid-column: 1/3;
    grid-row: 9;
}
.video-16 {
    grid-column: 10/14;
    grid-row: 1;
}
.video-17 {
    grid-column: 1/4;
    grid-row: 1;
    z-index: 1;
}
.video-18 {
    grid-column: 1/2;
    grid-row: 2;
}
.video-19 {
    grid-column: 6/9;
    grid-row: 4;
}
.video-20 {
    grid-column: 10/14;
    grid-row: 7;
}
.video-21 {
    grid-column: 5/10;
    grid-row: 9;
}
}

@media only screen 
and (min-width : 1801px) 
 {

 .video-1{grid-column: 1/10;grid-row: 1;}

.video-2 {
    grid-column: 3/5;
    grid-row-start: 3;
}
.video-3 {
    grid-column: 2/5;
    grid-row-start: 5;
}
.video-4 {
    grid-column: 1/4;
}

.video-7 {
    grid-column: 1/4;
}
.video-10 {
    grid-column: 1/4;
}

.video-8 {
    grid-column: 1/4;
}
.video-11 {
    grid-column: 1/2;
}
.video-12 {
    grid-column: 1/2;
}
.video-13{
    grid-column: 1/2;
}
.video-14 {
    grid-column: 1/2;
}
.video-15 {
    grid-column: 1/2;
}
.video-16 {
    grid-column: 1/2;
}
.video-17 {
    grid-column: 1/2;
}
.video-18 {
    grid-column: 1/2;
}
.video-19 {
    grid-column: 1/2;
}
.video-20 {
    grid-column: 1/2;
}
.video-21 {
    grid-column: 1/2;
}

}
/*Section Three close*/
/*Section Five Open*/


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
}

@media only screen 
and (min-width : 1801px) 
 {

}
/*Section Five close*/
.turn-cube {
    z-index: 999;
    flex-direction: column-reverse;
    display: flex;
    grid-column: 1/4;
    justify-self: center;
}
.cube {
  width: 600px;
  height: 600px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(-100px) rotateY(-90deg);
}
.cube.show-back {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-left {
  transform: translateZ(-100px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-100px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-100px) rotateX(90deg);
}

.cube__face {
  position: absolute;
  width: 600px;
  height: 600px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

.cube__face--front {
  background: hsla(0, 100%, 50%, 0.7);
}
.cube__face--right {
  background: hsla(60, 100%, 50%, 0.7);
}
.cube__face--back {
  background: hsla(120, 100%, 50%, 0.7);
}
.cube__face--left {
  background: hsla(180, 100%, 50%, 0.7);
}
.cube__face--top {
  background: hsla(240, 100%, 50%, 0.7);
}
.cube__face--bottom {
  background: hsla(300, 100%, 50%, 0.7);
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(300px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(300px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(300px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(300px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(300px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(200px);
}

label {
  margin-right: 4px;
  font-size: 3rem;
}
p.radio-group {
    display: flex;
    flex-direction: column;
}




footer {
  height: 10vh;
  line-height: 40vh;
  padding: 5rem;
}
.footer a,
.footer h4 {
  font-weight: 100;
  font-style: normal;
  color: #fff;
  line-height: 6vh;
  font-weight: 300;
  font-size: 1.5rem;
}

.footer {
  line-height: 12vh;
  height: 20vh;
  padding: 3em 1em 2em 6em;
  background-color: #000;
}



html{scroll-behavior:smooth;font-size:16px}blockquote,body,code,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}ol,ul{margin:0;padding:0;list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:after,q:before{content:""}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

* {
  font-family: neue-haas-grotesk-display, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  word-break: break-word;
}
@font-face{
   font-family:recife-italic;
  src: url(fonts/RecifeDisplayTrial-LightItalic.otf);
}

@font-face {
  font-family: Suisse Int Med;
  src: url(fonts/SuisseIntl-Medium.otf);
}
@font-face {
  src: url(fonts/SuisseIntl-Light.ttf);
  font-family: Suisse Int;
} 

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
.index{display: flex;width: 100vw;flex-direction: column;}




video {
  max-width: 100%;
  max-height: auto;
}


img {
  max-width: 100%;
  max-height: auto;
}
span.pull-qoute{font-size: 16rem;grid-column: 1/4;grid-row: 15;line-height: .8em;width: 100%;margin-top: 5vh;font-family: suisse int;}
span.mood{
         font-size: 15rem;
         font-style: italic;
         font-family:recife-italic;
}
span{
       font-size: 12rem;
       font-style: italic;
       font-family:recife-italic;
}
p{  font-family: Suisse Int;
  letter-spacing: 0.03em;font-size: 2.64rem;}
h2 {
       font-style: italic;
     font-family:recife-italic;
     letter-spacing: 0.03em;
     font-size: 7rem;

}

h1 {
  letter-spacing: 0.001em;
  line-height: 0.9em;
  word-break: break-all;
  line-height: .8;
  font-size: 18.3rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 1em;
  letter-spacing: 0.01em;
}

h5 {
    letter-spacing: 0.001em;
    line-height: 0.9em;
    word-break: break-all;
    line-height: 1.2;
    font-size: 7.3rem;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {

span.mood{
         font-size: 12rem;
      
}
span{
       font-size: 12rem;
  
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
   
h1{
  font-size: 14.3rem;
  margin-left: 3vw;
}
span{
  line-height: 1.35em;
  font-size: 3.3rem;
  letter-spacing: 0.01em;
  letter-spacing: -.01em;
}
p{font-size: 1.25rem;}
p.margin-right{margin-right: 5vw;}
span.pull-qoute{
  grid-row: 2;
  top: 59vh;
  text-align: right;
  grid-column: 1/5;
}
}

@media only screen 
and (min-width : 1801px) {
h1{

  font-size: 17.3rem;
}
span{

  font-size: 18.3rem;
}

p{font-size: 1.21rem;}

#top a {
  text-transform: uppercase;
}
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
li.dropdown a{
color: black;
}
.btn h3 {
  font-size: 0.65rem;
  text-align: center;
  line-height: 1.15em;
  text-transform: uppercase;
  line-height: 1.15em;
}


.number-sticky{
   position: sticky;
   top: 9vh;
   width: 100%;
   bottom: 0vh;
   z-index: 9;
   grid-row: 1;

  
}
.item-sticky{
  position: sticky;
  top: 25vh;
  mix-blend-mode: exclusion;
  filter: invert(1) !important;
  width:80vw;
  background: white;
  margin-left: 8vw;
  }
}

/*Open Topnav*/


.index_body .change-navbar {
    position: fixed;
    z-index: 999;
    height: 7vh;
    width: 100%;
    opacity: 0;
    top: 0;
    transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
}


    .nav-links{
        text-align: left;
        padding-top: 10vw;
        right: 0;
        display: block;
        transform: translateX(100%);
        transition: all ease-in-out .1s;
        text-align: center;
   
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
     
        justify-content: flex-start;
        align-items: left;
        transform: translate(100%);
        justify-content: baseline;
        }



.dropdown:hover .nav-links-drop {
  display: none;
}
.header-container {
    width: 100vw;
    height: 7vh;
}
.burger,
a.logo h2{ 
margin: 1vh 2vw 1vh 1vw;
}


.change-navbar{
    mix-blend-mode: exclusion ;
    filter: invert(1) !important;
}
 
.change-navbar:not(.nav-active) {
    display: block !important;
    opacity: 1 !important;
    background: black;
}
 .logo-image{
   height: 5vh;
   margin: 2vh 3vw;
   display: none;
 }

  .burger {
    right: 0;
    position: fixed;
    top: 14px;
  }
  .burger h3{

  mix-blend-mode: exclusion ;
    filter: invert(1) !important;
}
  .nav-active {
    padding-top: 2vh;
    height: 100vh;
    position: absolute;
    text-align: right;
    width: 100vw;
    transform: translateX(0%);
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 86px;
    height: 3px;
    background-color: gray;
    margin: 12.5px;
    transition: all ease 0.3s;
  }

a.top-btn {
    color: white;
    position: fixed;
    top: 90vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3vw;
    height: 8vh;
    transition: all ease-in-out .3s;
    border-radius: 200px 80px 180px 200px;
    width: 4vw;
}
a.top-btn:hover{
 border-radius: 1060px 20px 100px 206px;  
}
.nav-bar-background{
  height: 100vh;
  width: 100vw;
}



/*Section One Open*/

.Section-1-Landing{
  background: white;
  top: 0;
  padding-bottom: 8vh;
  align-items: flex-end;
  position: relative;
  display: flex;
  }

video.Logo-Video {
    height: 121vh;
    position: fixed;
    top: -9vh;
    filter: brightness(1.15);
    transition: ease-in-out .1s;
}
video.Logo-Video:hover{
  z-index: 2;
  
}
.letter-video{
   top: 0;
   position: sticky;
   top: 10vh;
   height: 100vh;
   display: flex;
   width: 100%;
   bottom: 0vh;
}
.Container-Grid {
        display: grid;
        grid-template-rows: repeat(5,20%);
        z-index: 1;
        background: white;
        grid-template-columns: repeat(4, 25%);
        }
        .item-sticky{
  position: sticky;
  top: 27vh;
  mix-blend-mode: exclusion;
  filter: invert(1) !important;
  background: white;
  margin-left: 8vw;
  }
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  
}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
  video.Logo-Video {
       top: 1vh;
       filter: brightness(1.15);
       height: 98vh;
       transform: translate(34%, -2%);
}
.Section-1-Landing{position: relative;height: 120vh;}
.Container-Grid {grid-template-rows: repeat(5,20vh);grid-template-columns: repeat(5, 20%);}
.item-sticky{width: 30vw;}
}

@media only screen 
and (min-width : 1801px) 
 {
     video.Logo-Video {
           top: 1vh;

    transform: translate(50%, -2%);
           height: 99vh;
}
.Section-1-Landing{
  height: 112vh;
}

}
/*Section One Close*/
/*Section Two Open*/

.Section-2-About {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  z-index: 4;
}
.about-info-section.Container-Grid{
}
.item-2{
grid-column: 1/5;
  padding: 2vh 1vw 1vh 1vh;
  width: 90vw;
 }
.flex-column{
display: flex;
flex-direction: column;

}
.flex-column a{
color: white;

}

video.Letter-1-Video{grid-column: 3/5;grid-row: 2;justify-self: flex-end;}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
  .Section-2-About {}
  
}

@media only screen 
and (min-width : 1801px) 
 {


}
/*Section Two Close*/
/*Section Learn Open*/


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 

.item-2{grid-column: 1/4;}


  video.Letter-1-Video{
      grid-column: 4/7;
      grid-row: 1/9;
      object-fit: cover;
      height: 100%;
  }
  .item.item-1.item-sticky {
    grid-column: 2/4;
    width: 27vw;
    margin-bottom: 10vh;
}
item-2-about{grid-column:1/2}
}

@media only screen 
and (min-width : 1801px) 
 {
  video.Letter-1-Video{
      grid-column: 5/7;
      grid-row: 1;
  }
  .item.item-1.item-sticky {
    grid-column: 2/8;
}

}


/*Section Learn Close*/

/*Section Three Open*/
.Section-3-Learn {
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  background: white;
  z-index: 4;
}
.flex-column{
  display: flex;
  flex-direction: column;
  color: white;
}


.number-sticky.sticky-anxiety {
    margin-bottom: 20vh;
    top: 15vh;
    mix-blend-mode: exclusion;
    filter: invert(1) !important;
}
.number-sticky.sticky-depression{
    top: 20vh;
    mix-blend-mode: exclusion;
    filter: invert(1) !important;
}
.number-sticky.sticky- {
    height: 23vh;
    margin-bottom: 20vh;
    top: 15vh;
    mix-blend-mode: exclusion;
    filter: invert(1) !important;
}

.item.anxiety-subsection {
  z-index: 1;
  background: white;
  }
  .item.depression-subsection {
  z-index: 1;
  background: white;
  }

.number-sticky-container-3{
  mix-blend-mode: exclusion;
  filter: invert(1) !important;}
.learn-subsection {
    background: black;
    color: white;
    z-index: 1;
    top: 0;
    padding-top: 17vh;
    width: 100vw;
    position: sticky;
}

video.item-4 {grid-column: 1/2;object-fit: contain;grid-row: 2;}

.number-sticky.sticky-anxiety.text-align-right {
    z-index: 2;
    top: 20vh;
}
.item-3{
  grid-column: 2/4;
  z-index: 2;
}
.item-6.item.item-sticky {
    grid-column: 2/6;
    top: 50vh;
}
.item-5 {
    grid-column: 6/10;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
     .number-sticky.sticky-anxiety{
     top:20vh;
   }
   .item-3{
     top: 50vh;
     grid-column: 3/7;
     }

.Section-3-Learn {
  }
}

@media only screen 
and (min-width : 1801px) 
 {
   .number-sticky.sticky-anxiety{
     top:20vh;
   }


   .item-3{
     grid-column: 6/10;}
      .Section-3-Learn {

  height: 400vh;
  
}


}
/*Section Three close*/

/*Section Three Open*/
section.Section-4-Experience.container {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  flex-direction: column;
  display: flex;
  z-index: 4;
  }



.image-Container-Grid.depression-experience {
  height:250vh;
    background: black;
}
  
          .Image-Container-Grid {
        display: grid;
        height: 100vh;
        grid-template-rows: repeat(10,10%);
        z-index: 1;
        background: white;
        grid-template-columns: repeat(6, 1fr);
        }
      .front-video{
        z-index:1;
      }
.video-1 {
    grid-column: 1/4;
grid-row: 1;  }
.video-2 {
    grid-column: 3/7;
    grid-row-start: 3;
}
.video-3 {
    grid-column: 2/7;
    grid-row-start: 5;
}
.video-4 {
    grid-column: 1/4;
}
.video-7 {
    grid-column: 1/5;
}

.video-8 {
    grid-column: 1/4;
}
.video-10 {
    grid-column: 3/4;
}
.video-11 {
    grid-column: 2/5;
    grid-row: 10;
}
.video-12 {
    grid-column: 2/7;
}
.video-13{
    grid-column: 1/3;
}
.video-14 {
    grid-column: 2/3;
}
.video-15 {
    grid-column: 1/2;
}
.video-16 {
    grid-column: 4/7;
    grid-row: 1;
}
.video-17 {
    grid-column: 1/4;
    grid-row: 1;
}

.video-19 { grid-column: 1/3;
       grid-row: 6;
  
}
.video-20 {
     grid-column: 4/7;
       grid-row: 8;
}
.video-21 {
  
    grid-column: 1/7;
     grid-row: 3;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
 .video-1{grid-column: 1/10;grid-row: 1;}

.video-2 {
    grid-column: 3/5;
    grid-row-start: 3;
}
.video-3 {
    grid-column: 2/5;
    grid-row-start: 5;
}
.video-4 {
    grid-column: 1/4;
}
.video-8 {
    grid-column: 1/4;
}
.video-11 {
    grid-column: 1/2;
}
.video-12 {
    grid-column: 1/2;
}
.video-13{
    grid-column: 1/2;
}
.video-14 {
    grid-column: 1/2;
}
.video-15 {
    grid-column: 1/2;
}
.video-16 {
    grid-column: 1/2;
}
.video-17 {
    grid-column: 1/2;
}
.video-18 {
    grid-column: 1/2;
}
.video-19 {
    grid-column: 1/2;
}
.video-20 {
    grid-column: 1/2;
}
.video-21 {
    grid-column: 1/2;
}

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 

    .image-Container-Grid{grid-template-columns: repeat(13, 1fr);}
  .video-1{grid-column: 1/10;grid-row: 1;}

.video-2 {
    grid-column: 8/14;
    grid-row-start: 6;
}
.video-3 {
    grid-column: 7/12;
    grid-row-start: 11;
}
.video-4 {
    grid-column: 1/4;
}
.video-7 {
    grid-column: 3/8;
    grid-row: 8;
    z-index: 2;
}
.video-10 {
    grid-column: 5/12;
    grid-row: 3;
    z-index: 1;
}
.video-8 {
    grid-column: 1/6;
    grid-row: 11;
}
.video-11 {
    grid-column: 1/2;
}
.video-12 {
    grid-column: 9/10;
    grid-row: 1;
}
.video-13{
    grid-column: 6/8;
}
.video-14 {
    grid-column: 12/14;
    grid-row: 4;
}
.video-15 {
    grid-column: 1/3;
    grid-row: 9;
}
.video-16 {
    grid-column: 10/14;
    grid-row: 1;
}
.video-17 {
    grid-column: 1/4;
    grid-row: 1;
    z-index: 1;
}
.video-18 {
    grid-column: 1/2;
    grid-row: 2;
}
.video-19 {
    grid-column: 6/9;
    grid-row: 4;
}
.video-20 {
    grid-column: 10/14;
    grid-row: 7;
}
.video-21 {
    grid-column: 5/10;
    grid-row: 9;
}
}

@media only screen 
and (min-width : 1801px) 
 {

 .video-1{grid-column: 1/10;grid-row: 1;}

.video-2 {
    grid-column: 3/5;
    grid-row-start: 3;
}
.video-3 {
    grid-column: 2/5;
    grid-row-start: 5;
}
.video-4 {
    grid-column: 1/4;
}

.video-7 {
    grid-column: 1/4;
}
.video-10 {
    grid-column: 1/4;
}

.video-8 {
    grid-column: 1/4;
}
.video-11 {
    grid-column: 1/2;
}
.video-12 {
    grid-column: 1/2;
}
.video-13{
    grid-column: 1/2;
}
.video-14 {
    grid-column: 1/2;
}
.video-15 {
    grid-column: 1/2;
}
.video-16 {
    grid-column: 1/2;
}
.video-17 {
    grid-column: 1/2;
}
.video-18 {
    grid-column: 1/2;
}
.video-19 {
    grid-column: 1/2;
}
.video-20 {
    grid-column: 1/2;
}
.video-21 {
    grid-column: 1/2;
}

}
/*Section Three close*/
/*Section Five Open*/


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}
@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

@media only screen 
and (min-width : 1024px)
and (max-device-width : 1800px) { 
}

@media only screen 
and (min-width : 1801px) 
 {

}
/*Section Five close*/
.turn-cube {
    z-index: 999;
    flex-direction: column-reverse;
    display: flex;
    grid-column: 1/4;
    justify-self: center;
}
.cube {
  width: 600px;
  height: 600px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube.show-front {
  transform: translateZ(-100px) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(-100px) rotateY(-90deg);
}
.cube.show-back {
  transform: translateZ(-100px) rotateY(-180deg);
}
.cube.show-left {
  transform: translateZ(-100px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-100px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-100px) rotateX(90deg);
}

.cube__face {
  position: absolute;
  width: 600px;
  height: 600px;
  border: 2px solid black;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

.cube__face--front {
  background: hsla(0, 100%, 50%, 0.7);
}
.cube__face--right {
  background: hsla(60, 100%, 50%, 0.7);
}
.cube__face--back {
  background: hsla(120, 100%, 50%, 0.7);
}
.cube__face--left {
  background: hsla(180, 100%, 50%, 0.7);
}
.cube__face--top {
  background: hsla(240, 100%, 50%, 0.7);
}
.cube__face--bottom {
  background: hsla(300, 100%, 50%, 0.7);
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(300px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(300px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(300px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(300px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(300px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(200px);
}

label {
  margin-right: 4px;
  font-size: 3rem;
}
p.radio-group {
    display: flex;
    flex-direction: column;
}




footer {
  height: 10vh;
  line-height: 40vh;
  padding: 5rem;
}
.footer a,
.footer h4 {
  font-weight: 100;
  font-style: normal;
  color: #fff;
  line-height: 6vh;
  font-weight: 300;
  font-size: 1.5rem;
}

.footer {
  line-height: 12vh;
  height: 20vh;
  padding: 3em 1em 2em 6em;
  background-color: #000;
}



/* Section 5 Wear */
.t-shirt-subsection{
   z-index: 1;
  background: white; 
}